#slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    &__item {
        display: block;
        width: 100vw;
        height: 100vh;
    }
    &__item img {
        display: block;
    }
}

@media screen and (min-width: 1600px) {
    #slider {
        background-size: cover;
    }
}